<div class="main">
        <div class="home-message">
        <h2>How to Use Mahjong Stats</h2>
            <p>①登録</p>
            <p>②局の終了ごとにデータ入力(5秒程度)</p>
            <p>③成績分析ページで16種類のスタッツを確認</p>
        </div>
        <div class="btn-wrapper">
            <a href="/signup" class="btn">会員登録</a>
            <a href="/login" class="btn">ログイン</a>
        </div>
</div>
