<div class="main">
    <div class="home-message">
        <h2>成績分析をして最強雀士を目指そう！</h2>
        <p></p>
    </div>
    <div class="btn-wrapper">
        <a href="/signup" class="btn">会員登録</a>
        <a href="/login" class="btn">ログイン</a>
    </div>
</div>
